<!DOCTYPE html>
<html>
  <head>
    <title>EasyCart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Devise Notices and Alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
      <p><%= link_to 'Cart', cart_path(session[:cart_id]) %></p>
    <% else %>
      <p><%= link_to 'Login', new_user_session_path %></p>
      <p><%= link_to 'Register', new_user_registration_path %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
